
1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
2 .Total working days for each agents 
3. Total query that you hvae taken 
4. total Feedback that you have received 
5. a agent name who have average rating between 3.5 to 4 
6 . Agent name who have rating lesss then 3.5 
7 . agent name who have rating more then 4.5 
8 . how many feedaback agents have received more then 4.5 average
9 . average weekly response time for each agent 
10 . average weekely resolution time for each agents 
11 . list of all agents name 
12 . percentage of chat on which they have received a feedback 
13 . Total contributation hour for each and every agents weekly basis 
14. total percentage of active hour for a month

In [1]:
import pandas as pd

In [17]:
df1=pd.read_csv(r"C:\Users\lenovo\Downloads\AgentPerformance.csv")

In [18]:
df1

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [8]:
df=pd.read_csv(r"C:\Users\lenovo\Downloads\AgentLogingReport.csv")

In [9]:
df

     SL No               Agent       Date Login Time Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39    2:04:10
1        2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16    0:00:17
2        3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07    2:26:42
3        4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35    0:45:06
4        5              Mukesh  30-Jul-22   14:03:15    15:11:52    1:08:36
..     ...                 ...        ...        ...         ...        ...
995    996        Manjunatha A  20-Jul-22    9:03:51    15:02:28    5:58:37
996    997             Bharath  20-Jul-22    9:00:49    15:01:32    6:00:43
997    998      Khushboo Priya  20-Jul-22    8:59:20    14:26:55    5:27:34
998    999        Nishtha Jain  20-Jul-22    8:43:55    14:00:33    5:16:38
999   1000               Tarun   1-Jul-22    1:52:47    12:01:07  514:08:20

[1000 rows x 6 columns]

In [10]:
df['Date_converted'] = pd.to_datetime(df['Date'])
df['Login Time_converted'] = pd.to_datetime(df['Login Time'])
df['Logout Time_converted'] = pd.to_datetime(df['Logout Time'])
df['Duration_new'] = pd.to_timedelta(df['Duration'])

In [11]:
df

,SL No,Agent,Date,Login Time,Logout Time,Duration,Date_converted,Login Time_converted,Logout Time_converted,Duration_new
0,1,Shivananda Sonwane,30-Jul-22,15:35:29,17:39:39,2:04:10,2022-07-30,2022-10-04 15:35:29,2022-10-04 17:39:39,0 days 02:04:10
1,2,Khushboo Priya,30-Jul-22,15:06:59,15:07:16,0:00:17,2022-07-30,2022-10-04 15:06:59,2022-10-04 15:07:16,0 days 00:00:17
2,3,Nandani Gupta,30-Jul-22,15:04:24,17:31:07,2:26:42,2022-07-30,2022-10-04 15:04:24,2022-10-04 17:31:07,0 days 02:26:42
3,4,Hrisikesh Neogi,30-Jul-22,14:34:29,15:19:35,0:45:06,2022-07-30,2022-10-04 14:34:29,2022-10-04 15:19:35,0 days 00:45:06
4,5,Mukesh,30-Jul-22,14:03:15,15:11:52,1:08:36,2022-07-30,2022-10-04 14:03:15,2022-10-04 15:11:52,0 days 01:08:36
...,...,...,...,...,...,...,...,...,...,...
995,996,Manjunatha A,20-Jul-22,9:03:51,15:02:28,5:58:37,2022-07-20,2022-10-04 09:03:51,2022-10-04 15:02:28,0 days 05:58:37
996,997,Bharath,20-Jul-22,9:00:49,15:01:32,6:00:43,2022-07-20,2022-10-04 09:00:49,2022-10-04 15:01:32,0 days 06:00:43
997,998,Khushboo Priya,20-Jul-22,8:59:20,14:26:55,5:27:34,2022-07-20,2022-10-04 08:59:20,2022-10-04 14:26:55,0 days 05:27:34
998,999,Nishtha Jain,20-Jul-22,8:43:55,14:00:33,5:16:38,2022-07-20,2022-10-04 08:43:55,2022-10-04 14:00:33,0 days 05:16:38
999,1000,Tarun,1-Jul-22,1:52:47,12:01:07,514:08:20,2022-07-01,2022-10-04 01:52:47,2022-10-04 12:01:07,21 days 10:08:20

In [12]:
df.dtypes

SL No                              int64
Agent                             object
Date                              object
Login Time                        object
Logout Time                       object
Duration                          object
Date_converted            datetime64[ns]
Login Time_converted      datetime64[ns]
Logout Time_converted     datetime64[ns]
Duration_new             timedelta64[ns]
dtype: object

In [13]:
df.drop(['Date','Login Time','Logout Time','Duration'], axis=1,  inplace=True)

In [14]:
df

,SL No,Agent,Date_converted,Login Time_converted,Logout Time_converted,Duration_new
0,1,Shivananda Sonwane,2022-07-30,2022-10-04 15:35:29,2022-10-04 17:39:39,0 days 02:04:10
1,2,Khushboo Priya,2022-07-30,2022-10-04 15:06:59,2022-10-04 15:07:16,0 days 00:00:17
2,3,Nandani Gupta,2022-07-30,2022-10-04 15:04:24,2022-10-04 17:31:07,0 days 02:26:42
3,4,Hrisikesh Neogi,2022-07-30,2022-10-04 14:34:29,2022-10-04 15:19:35,0 days 00:45:06
4,5,Mukesh,2022-07-30,2022-10-04 14:03:15,2022-10-04 15:11:52,0 days 01:08:36
...,...,...,...,...,...,...
995,996,Manjunatha A,2022-07-20,2022-10-04 09:03:51,2022-10-04 15:02:28,0 days 05:58:37
996,997,Bharath,2022-07-20,2022-10-04 09:00:49,2022-10-04 15:01:32,0 days 06:00:43
997,998,Khushboo Priya,2022-07-20,2022-10-04 08:59:20,2022-10-04 14:26:55,0 days 05:27:34
998,999,Nishtha Jain,2022-07-20,2022-10-04 08:43:55,2022-10-04 14:00:33,0 days 05:16:38
999,1000,Tarun,2022-07-01,2022-10-04 01:52:47,2022-10-04 12:01:07,21 days 10:08:20

In [15]:
df['week'] = df['Date_converted'].dt.week
df['month'] = df['Date_converted'].dt.month

C:\Users\lenovo\AppData\Local\Temp\ipykernel_55552\1466836099.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['week'] = df['Date_converted'].dt.week

In [16]:
df

,SL No,Agent,Date_converted,Login Time_converted,Logout Time_converted,Duration_new,week,month
0,1,Shivananda Sonwane,2022-07-30,2022-10-04 15:35:29,2022-10-04 17:39:39,0 days 02:04:10,30,7
1,2,Khushboo Priya,2022-07-30,2022-10-04 15:06:59,2022-10-04 15:07:16,0 days 00:00:17,30,7
2,3,Nandani Gupta,2022-07-30,2022-10-04 15:04:24,2022-10-04 17:31:07,0 days 02:26:42,30,7
3,4,Hrisikesh Neogi,2022-07-30,2022-10-04 14:34:29,2022-10-04 15:19:35,0 days 00:45:06,30,7
4,5,Mukesh,2022-07-30,2022-10-04 14:03:15,2022-10-04 15:11:52,0 days 01:08:36,30,7
...,...,...,...,...,...,...,...,...
995,996,Manjunatha A,2022-07-20,2022-10-04 09:03:51,2022-10-04 15:02:28,0 days 05:58:37,29,7
996,997,Bharath,2022-07-20,2022-10-04 09:00:49,2022-10-04 15:01:32,0 days 06:00:43,29,7
997,998,Khushboo Priya,2022-07-20,2022-10-04 08:59:20,2022-10-04 14:26:55,0 days 05:27:34,29,7
998,999,Nishtha Jain,2022-07-20,2022-10-04 08:43:55,2022-10-04 14:00:33,0 days 05:16:38,29,7
999,1000,Tarun,2022-07-01,2022-10-04 01:52:47,2022-10-04 12:01:07,21 days 10:08:20,26,7

In [19]:
df1['Date_new'] = pd.to_datetime(df1['Date'])
df1['avg_response_time_C'] = pd.to_timedelta(df1['Average Response Time'])
df1['avg_reso_time'] = pd.to_timedelta(df1['Average Resolution Time'])

In [20]:
df1

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Date_new,avg_response_time_C,avg_reso_time
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9,2022-07-30,0 days 00:00:38,0 days 00:04:20
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,2022-07-30,0 days 00:01:15,0 days 00:28:25
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11,2022-07-30,0 days 00:00:30,0 days 00:11:36
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,2022-07-30,0 days 00:01:04,0 days 00:15:46
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6,2022-07-30,0 days 00:01:11,0 days 00:16:33
...,...,...,...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0,2022-07-01,0 days 00:00:00,0 days 00:00:00
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0,2022-07-01,0 days 00:00:00,0 days 00:00:00
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0,2022-07-01,0 days 00:00:00,0 days 00:00:00
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0,2022-07-01,0 days 00:00:00,0 days 00:00:00
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0,2022-07-01,0 days 00:00:00,0 days 00:00:00

In [21]:
df1['week'] = df1['Date_new'].dt.week

C:\Users\lenovo\AppData\Local\Temp\ipykernel_55552\2057735159.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df1['week'] = df1['Date_new'].dt.week

In [22]:
df1

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Date_new,avg_response_time_C,avg_reso_time,week
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9,2022-07-30,0 days 00:00:38,0 days 00:04:20,30
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,2022-07-30,0 days 00:01:15,0 days 00:28:25,30
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11,2022-07-30,0 days 00:00:30,0 days 00:11:36,30
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,2022-07-30,0 days 00:01:04,0 days 00:15:46,30
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6,2022-07-30,0 days 00:01:11,0 days 00:16:33,30
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0,2022-07-01,0 days 00:00:00,0 days 00:00:00,26
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0,2022-07-01,0 days 00:00:00,0 days 00:00:00,26
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0,2022-07-01,0 days 00:00:00,0 days 00:00:00,26
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0,2022-07-01,0 days 00:00:00,0 days 00:00:00,26
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0,2022-07-01,0 days 00:00:00,0 days 00:00:00,26

#solutions

In [23]:
# 1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
Avg_rating = df1.groupby(['Agent Name','week'])['Average Rating'].mean()
Avg_rating

Agent Name  week
Abhishek    26      0.000000
            27      0.000000
            28      0.000000
            29      0.000000
            30      0.000000
                      ...
Zeeshan     26      0.000000
            27      1.307143
            28      2.948571
            29      3.180000
            30      2.760000
Name: Average Rating, Length: 350, dtype: float64

In [24]:
# 2 .Total working days for each agents 
df.groupby('Agent')['Duration_new'].sum()

Agent
Aditya Shinde             0 days 00:02:10
Aditya_iot                0 days 15:43:52
Amersh                    0 days 03:03:50
Ameya Jain                1 days 18:04:32
Ankitjha                  0 days 02:16:01
Anurag Tiwari             0 days 02:46:44
Aravind                   1 days 00:17:57
Ayushi Mishra             1 days 14:07:18
Bharath                   2 days 00:04:36
Boktiar Ahmed Bappy       1 days 16:16:07
Chaitra K Hiremath        1 days 10:19:32
Deepranjan Gupta          4 days 10:16:31
Dibyanshu                 2 days 04:35:45
Harikrishnan Shaji        2 days 05:42:53
Hrisikesh Neogi           2 days 09:34:07
Hyder Abbas               0 days 00:23:17
Ineuron Intelligence      0 days 01:26:55
Ishawant Kumar            2 days 03:46:44
Jawala Prakash            1 days 22:24:08
Jaydeep Dixit             2 days 11:50:26
Khushboo Priya            1 days 19:33:31
Madhulika G               1 days 22:03:37
Mahesh Sarade             1 days 18:55:19
Maitry                    1 days 06:56:42
Manjunatha A              1 days 17:16:29
Mithun S                  1 days 21:10:25
Mukesh                    0 days 08:54:18
Muskan Garg               0 days 17:20:08
Nandani Gupta             1 days 16:10:20
Nishtha Jain              1 days 19:51:10
Nitin M                   0 days 00:47:56
Prabir Kumar Satapathy    1 days 09:22:38
Prateek _iot              0 days 18:25:05
Prerna Singh              1 days 21:42:56
Rishav Dash               1 days 17:46:32
Saikumarreddy N           1 days 19:08:15
Sanjeev Kumar             1 days 20:41:14
Saurabh Shukla            0 days 16:39:47
Shiva Srivastava          0 days 14:59:39
Shivan K                  1 days 12:06:08
Shivananda Sonwane        2 days 01:17:16
Shubham Sharma            2 days 05:47:54
Sowmiya Sivakumar         1 days 20:45:15
Sudhanshu Kumar           1 days 22:13:52
Suraj S Bilgi             0 days 12:33:33
Swati                     1 days 01:00:04
Tarun                    21 days 10:08:20
Wasim                     2 days 00:10:45
Zeeshan                   2 days 01:05:19
Name: Duration_new, dtype: timedelta64[ns]

In [25]:
# 4. total Feedback that agent have received 
df1.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [26]:
# 5. a agent name who have average rating between 3.5 to 4 
df1[(df1['Average Rating'] > 3.5) & (df1['Average Rating'] < 4.0)]['Agent Name']

4                    Swati
10             Manjunatha A
76            Prateek _iot
78            Nandani Gupta
80            Jaydeep Dixit
               ...
1869    Boktiar Ahmed Bappy
1874          Ayushi Mishra
1941         Jawala Prakash
2021          Aditya Shinde
2023       Deepranjan Gupta
Name: Agent Name, Length: 78, dtype: object

In [27]:
# 7 . agent name who have rating more then 4.5
df1[df1['Average Rating'] > 4.5]['Agent Name']

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

In [28]:
#8 . how many feedaback agents have received more then 4.5 average

df1[df1['Average Rating'] > 4.5].groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Ankitjha                    1
Aravind                   178
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        52
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         80
Hrisikesh Neogi           183
Ishawant Kumar             79
Jawala Prakash             33
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            134
Madhulika G                67
Mahesh Sarade              46
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               18
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh               82
Rishav Dash                27
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             164
Saurabh Shukla              3
Shiva Srivastava            2
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: Total Feedback, dtype: int64

In [29]:
#9 . average weekly response time for each agent 
df1.groupby('Agent Name')['avg_response_time_C'].mean()

Agent Name
Abhishek                  0 days 00:00:00
Aditya                    0 days 00:00:00
Aditya Shinde   0 days 00:00:29.733333333
Aditya_iot      0 days 00:00:33.966666666
Amersh                    0 days 00:00:00
                           ...
Uday Mishra               0 days 00:00:00
Vasanth P                 0 days 00:00:00
Vivek              0 days 00:00:13.700000
Wasim              0 days 00:00:29.700000
Zeeshan         0 days 00:01:01.733333333
Name: avg_response_time_C, Length: 70, dtype: timedelta64[ns]

In [30]:
# 10 . average weekely resolution time for each agents 
df1.groupby('Agent Name')['avg_reso_time'].mean()

Agent Name
Abhishek                  0 days 00:00:00
Aditya                    0 days 00:00:00
Aditya Shinde   0 days 00:10:20.633333333
Aditya_iot         0 days 00:09:49.300000
Amersh                    0 days 00:00:00
                           ...
Uday Mishra               0 days 00:00:00
Vasanth P                 0 days 00:00:00
Vivek           0 days 00:02:32.766666666
Wasim           0 days 00:11:28.866666666
Zeeshan         0 days 00:10:45.066666666
Name: avg_reso_time, Length: 70, dtype: timedelta64[ns]

In [31]:
# 11 . list of all agents name 
set(df1['Agent Name'])

{'Abhishek ',
 'Aditya ',
 'Aditya Shinde',
 'Aditya_iot ',
 'Amersh ',
 'Ameya Jain',
 'Anirudh ',
 'Ankit Sharma',
 'Ankitjha ',
 'Anurag Tiwari',
 'Aravind ',
 'Ashad Nasim',
 'Ashish ',
 'Ayushi Mishra',
 'Bharath ',
 'Boktiar Ahmed Bappy',
 'Chaitra K Hiremath',
 'Deepranjan Gupta',
 'Dibyanshu ',
 'Harikrishnan Shaji',
 'Hitesh Choudhary',
 'Hrisikesh Neogi',
 'Hyder Abbas',
 'Ineuron Intelligence ',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Jayant Kumar',
 'Jaydeep Dixit',
 'Khushboo Priya',
 'Madhulika G',
 'Mahak ',
 'Mahesh Sarade',
 'Maitry ',
 'Maneesh ',
 'Manjunatha A',
 'Mithun S',
 'Mukesh ',
 'Mukesh Rao ',
 'Muskan Garg',
 'Nandani Gupta',
 'Nishtha Jain',
 'Nitin M',
 'Prabir Kumar Satapathy',
 'Prateek _iot ',
 'Prerna Singh',
 'Rishav Dash',
 'Rohan ',
 'Saif Khan',
 'Saikumarreddy N',
 'Samprit ',
 'Sandipan Saha',
 'Sanjeev Kumar',
 'Sanjeevan ',
 'Saurabh Shukla',
 'Shiva Srivastava',
 'Shivan K',
 'Shivan_S ',
 'Shivananda Sonwane',
 'Shubham Sharma',
 'Sowmiya Sivakumar',
 'Spuri ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Swati ',
 'Tarun ',
 'Uday Mishra',
 'Vasanth P',
 'Vivek ',
 'Wasim ',
 'Zeeshan '}

In [32]:
# 12 . percentage of chat on which they have received a feedback 
(df1[df1['Total Feedback'] > 0]['Total Chats'])*100/(df1['Total Chats'].sum())

0       0.074728
1       0.074728
2       0.095109
3       0.095109
4       0.095109
          ...
2101    0.169837
2102    0.156250
2103    0.163043
2104    0.101902
2105    0.149457
Name: Total Chats, Length: 731, dtype: float64

In [33]:
# 13 . Total contributation hour for each and every agents weekly basis 
df.groupby(['Agent', 'week'])['Duration_new'].sum()

Agent          week
Aditya Shinde  30      0 days 00:02:10
Aditya_iot     29      0 days 06:05:43
               30      0 days 09:38:09
Amersh         30      0 days 03:03:50
Ameya Jain     29      1 days 00:04:59
                            ...
Tarun          26     21 days 10:08:20
Wasim          29      0 days 19:37:32
               30      1 days 04:33:13
Zeeshan        29      1 days 00:25:39
               30      1 days 00:39:40
Name: Duration_new, Length: 89, dtype: timedelta64[ns]

In [34]:
# 14. total percentage of active hour for a month
for i in df.groupby(['Agent','month'])['Duration_new'].sum():
    print(i.days*100/df['month'].sum())

0.0
0.0
0.0
0.014285714285714285
0.0
0.0
0.014285714285714285
0.014285714285714285
0.02857142857142857
0.014285714285714285
0.014285714285714285
0.05714285714285714
0.02857142857142857
0.02857142857142857
0.02857142857142857
0.0
0.0
0.02857142857142857
0.014285714285714285
0.02857142857142857
0.014285714285714285
0.014285714285714285
0.014285714285714285
0.014285714285714285
0.014285714285714285
0.014285714285714285
0.0
0.0
0.014285714285714285
0.014285714285714285
0.0
0.014285714285714285
0.0
0.014285714285714285
0.014285714285714285
0.014285714285714285
0.014285714285714285
0.0
0.0
0.014285714285714285
0.02857142857142857
0.02857142857142857
0.014285714285714285
0.014285714285714285
0.0
0.014285714285714285
0.3
0.02857142857142857
0.02857142857142857